div(class='modal modal--hide')
  section(class='modal-rates modal__section modal__section--zoom-in')
    h2(class='modal-rates__title') Бизнес-тарифы
    dl(class='modal-rates__term-list')
      div(class='modal-rates__term-row')
        dt(class='modal-rates__term') Реклама у блоггера
        dd(class='modal-rates__description') 300 000 руб./шт.
      div(class='modal-rates__term-row')
        dt(class='modal-rates__term') Накрутка подписчиков
        dd(class='modal-rates__description') от 1 руб./шт.
      div(class='modal-rates__term-row')
        dt(class='modal-rates__term') Лайки от ботов
        dd(class='modal-rates__description') от 20 коп./лайк
      div(class='modal-rates__term-row')
        dt(class='modal-rates__term') Ваш продакт-плейсмент
        dd(class='modal-rates__description') Индивидуально
    button(class='modal-rates__close' type='button') Закрыть окно
