include mixins

doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='format-detection' content='telephone=no')
    link(href='css/style.min.css' rel='stylesheet')

    block title
      title Сайт

    block pixel-glass

  body

    block svg-sprite
      div(style={display: 'none'})
        include ../img/sprite.svg


    block header
      +site-header()

    block content

    block footer
      +site-footer()

    block modal

    script(src='js/script.min.js')
