.companions {
  z-index: 8;
  position: relative;
  margin-top: -45px;
  padding: 85px 0 30px 0;

  font: $text-style-16-300;
  line-height: 1.38;
  color: $white;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: top 86px right 25px / 143px 143px no-repeat url("../img/smolov-back-desktop@1x.png"),
    top 86px left -20px / 132px 132px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
    top 355px left -10px / 71px 71px no-repeat url("../img/rogovaya-back-mobile@1x.png"),
    $dark-blue-grey;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background: top 86px right 25px / 143px 143px no-repeat url("../img/smolov-back-desktop@2x.png"),
      top 86px left -20px / 132px 132px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
      top 355px left -10px / 71px 71px no-repeat url("../img/rogovaya-back-mobile@2x.png"),
      $dark-blue-grey;
  }
}

.companions__container {
  display: flex;
  flex-flow: column nowrap;
}

.companions__title {
  margin: 30px 0 10px 0;
  padding: 0 25px;

  font: $text-style-24-700;
  line-height: 1;
  color: $mango-dark;
}

.companions__text,
.companions__slogan {
  width: 270px;
  margin: 10px 0;
  padding: 0 30px 0 25px;

  font: $text-style-16-300;
  line-height: 1.38;
  color: $white;
}

.companions__slogan {
  font: $text-style-16-700;
  line-height: 1.4;
  color: $white;
}

.companions__list {
  margin: 47px 0 10px 0;
  padding: 0;

  list-style: none;
  order: 1;
}

.companions__item {
  margin-bottom: 8px;
}

.companions__button {
  order: 1;
}

@media (min-width: $tablet-width) {
  .companions {
    margin-top: -80px;
    padding: 170px 0 60px 0;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background: top 160px right 75px / 285px 285px no-repeat url("../img/rogovaya-back-desktop@1x.png"),
      top 160px left 40px / 213px 213px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
      top 505px left 40px / 143px 143px no-repeat url("../img/smolov-back-desktop@1x.png"),
      $dark-blue-grey;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background: top 160px right 75px / 285px 285px no-repeat url("../img/rogovaya-back-desktop@2x.png"),
        top 160px left 40px / 213px 213px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
        top 505px left 40px / 143px 143px no-repeat url("../img/smolov-back-desktop@2x.png"),
        $dark-blue-grey;
    }
  }

  .companions__title {
    margin: 42px 0 45px 0;
    padding: 0 35px;

    font: $text-style-45-700;
  }

  .companions__text {
    width: 470px;
    margin: 10px 0;
    padding: 0 10px 0 35px;

    font: $text-style-28-300;
    line-height: 1.18;
  }

  .companions__slogan {
    width: 400px;
    margin: 30px 0;
    padding: 0 20px 0 35px;

    font: $text-style-21-700;
    line-height: 1.19;
  }

  .companions__list {
    display: flex;
    flex-flow: row wrap;
    margin: 30px 0 40px 0;
    padding: 0 35px;
  }

  .companions__item {
    width: 46%;
    margin-right: 48px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .companions__button {
    margin: 30px 35px;
  }
}

@media (min-width: $desktop-width) {
  .companions {
    margin-top: -80px;
    padding: 160px 0 80px 0;

    background: top 465px left calc(50% - 390px) / 285px 285px no-repeat url("../img/rogovaya-back-desktop@1x.png"),
      top 150px left calc(50% - 550px) / 213px 213px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
      top 215px left calc(50% - 100px) / 143px 143px no-repeat url("../img/smolov-back-desktop@1x.png"),
      $dark-blue-grey;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background: top 465px left calc(50% - 390px) / 285px 285px no-repeat url("../img/rogovaya-back-desktop@2x.png"),
        top 150px left calc(50% - 550px) / 213px 213px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
        top 215px left calc(50% - 100px) / 143px 143px no-repeat url("../img/smolov-back-desktop@2x.png"),
        $dark-blue-grey;
    }
  }

  .companions__container {
    display: block;

    overflow: auto;
  }

  .companions__title {
    margin: 45px 0 50px 0;
    padding: 0 70px;
  }

  .companions__text {
    width: 580px;
    padding: 0 70px;
  }

  .companions__slogan {
    width: 410px;
    margin: 45px 0;
    padding: 0 70px;
  }

  .companions__list {
    width: 630px;
    float: right;
    margin: 55px 0 30px 0;
    padding: 0;
  }

  .companions__item {
    width: 285px;
    margin-right: 60px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .companions__button {
    margin: 85px 70px 55px 70px;
    width: 280px;
  }
}
