.companions {
  z-index: 8;
  position: relative;
  margin-top: -45px;
  padding: 85px 0 30px 0;

  font: $text-style-16-300;
  line-height: 1.38;
  color: $white;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background: top 86px right 25px / 143px 143px no-repeat url('../img/smolov-back-desktop@1x.png'),
    top 86px left -20px / 132px 132px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
    top 355px left -10px / 71px 71px no-repeat url('../img/rogovaya-back-mobile@1x.png'),
  $dark-blue-grey;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: top 280px center / 292px 352px no-repeat url('../img/about-mobile@2x.png'),
      top 280px left -25px / 132px 132px no-repeat url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMyIDEzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAyMEMwIDguOTU0MyA4Ljk1NDMxIDAgMjAgMEgxMTJDMTIzLjA0NiAwIDEzMiA4Ljk1NDMxIDEzMiAyMFYxMTJDMTMyIDEyMy4wNDYgMTIzLjA0NiAxMzIgMTEyIDEzMkgyMEM4Ljk1NDMgMTMyIDAgMTIzLjA0NiAwIDExMlYyMFoiIGZpbGw9IiMxNDFiM2IiLz48L3N2Zz4K"),
      $dark-blue-grey;
  }
}

.companions__container {
  display: flex;
  flex-flow: column nowrap;
}

.companions__title {
  margin: 30px 0 10px 0;
  padding: 0 25px;

  font: $text-style-24-700;
  line-height: 1;
  color: $mango-dark;
}

.companions__text,
.companions__slogan {
  width: 270px;
  margin: 10px 0;
  padding: 0 30px 0 25px;

  font: $text-style-16-300;
  line-height: 1.38;
  color: $white;
}

.companions__slogan {
  font: $text-style-16-700;
  line-height: 1.4;
  color: $white;
}

.companions__list {
  margin: 47px 0 10px 0;
  padding: 0;

  list-style: none;
  order: 1;
}

.companions__item {
  margin-bottom: 8px;
}

.companions__button {
  order: 1;
}
