section(class='rates')
  div(class='rates__container container')
    h2(class='rates__title') Добавьте свой профиль!
    dl(class='rates__term-list')
      div(class='rates__term-row rates__term-row--one')
        dt(class='rates__term') Базовое размещение
        dd(class='rates__description') Бесплатно
      div(class='rates__term-row rates__term-row--two')
        dt(class='rates__term') Вывод на первых позициях
        dd(class='rates__description') 99 руб./мес
      div(class='rates__term-row rates__term-row--three')
        dt(class='rates__term') Кастомный цвет карточки
        dd(class='rates__description') 59 руб./мес
    a(class='rates__business-link' href='business.html') Показать тарифы для бизнеса
