.directions {
  z-index: 9;
  position: relative;
  margin-top: -60px;
  padding: 60px 0 28px 0;

  font: $text-style-16-300;
  line-height: 1.38;
  color: $greyish-brown;

  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $pale-grey-middle;
}

.directions__container {
  display: flex;
  flex-flow: column nowrap;
}

.directions__title {
  margin: 72px 0 10px 0;
  padding: 0 25px;

  font: $text-style-24-700;
  line-height: 1;
  color: $mango-dark;
}

.directions__text {
  width: 270px;
  margin: 10px 0;
  padding: 0 50px 0 25px;

  font: $text-style-16-300;
  line-height: 1.38;
  color: $greyish-brown;
}

.directions__list {
  margin: 50px 0 18px 0;
  padding: 0;

  list-style: none;
  order: 1;
}

.directions__item {
  margin-bottom: 10px;
}

.directions__button {
  order: 1;
}

@media (min-width: $tablet-width) {
  .directions {
    margin-top: -70px;
    padding: 80px 0 70px 0;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .directions__title {
    margin: 55px 0 45px 0;
    padding: 0 35px;

    font: $text-style-45-700;
  }

  .directions__text {
    width: 400px;
    margin: 10px 0;
    padding: 0 25px 0 35px;

    font: $text-style-28-300;
    line-height: 1.18;
  }

  .directions__list {
    margin: 95px 35px 35px 35px;
  }

  .directions__button {
    margin: 5px 35px 10px 35px;
  }
}
