extends ../pug/layout

block title
  title Погнали - попутчики

block pixel-glass
  style.
    html {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-image: url("img/pognali-catalog-mobile-modals.jpg");
    }

    /* Tablet */
    @media (min-width: 768px) {
      html {
        background-image: url("img/pognali-catalog-tablet-modals.jpg");
      }
    }

    /* Desktop */
    @media (min-width: 1440px) {
      html {
        background-image: url("img/pognali-catalog-desktop-modals.jpg");
      }
    }

block content
  main
    include ../blocks/site-title/site-title
    +site-title({title: 'Попутчики'})(hasReturnLink=true)
    div(style='height:1000px; background-color:gray;')
