extends ../pug/layout

block title
  title Погнали - сервис для путешественников

block pixel-glass
  style.
    html {
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-image: url("img/pixel-glass/pognali-index-mobile.jpg");
    }

    /* Tablet */
    @media (min-width: 768px) {
      html {
        background-image: url("img/pixel-glass/pognali-index-tablet.jpg");
      }
    }

    /* Desktop */
    @media (min-width: 1440px) {
      html {
        background-image: url("img/pixel-glass/pognali-index-desktop.jpg");
      }
    }

block header
  +site-header()(isMainPage=true)

block content
  main
    include ../blocks/site-description/site-description
    include ../blocks/site-about/site-about
    include ../blocks/directions/directions
    include ../blocks/companions/companions
    include ../blocks/rates/rates
    include ../blocks/contacts/contacts
    include ../blocks/address/address
