div(class='gh')
  a(class='gh__link gh__link--git' href='https://github.com/yaz47/794285-pognali-17' aria-label='Git Hub')
  a(class='gh__link' href='https://yaz47.github.io/794285-pognali-17/index.html') 1
