section(class='site-description')
  div(class='site-description__container container')
    h1(class='site-description__title').
      В путешествие с крутыми попутчиками!

    div(class='site-description__auth')
      ul(class='site-description__auth-list')
        li(class='site-description__auth-item')
          a(class='site-description__auth-item-link site-description__auth-item-link--phone'
            href='tel:+78005558628' aria-label='Телефон для связи')
        li(class='site-description__auth-item')
          a(class='site-description__auth-item-link site-description__auth-item-link--mail'
            href='mailto:mail@htmlacademy.ru?subject=Info' aria-label='Почта для связи')
      a(class='site-description__auth-button' href='auth.html') Авторизация

    blockquote(class='site-description__blockquote')
      p(class='site-description__text').
        «Лучшее приложение, что я видел в жизни!»
      footer(class='site-description__footer')
        cite(class='site-description__cite').
          Мурат Эльтазин главный&nbsp;редактор газеты «гаджетлайф»

    ul(class='site-description__list')
      li(class='site-description__item site-description__item--one')
        p(class='site-description__item-text') Выберите направление
        div(class='site-description__item-number') 1
      li(class='site-description__item site-description__item--two')
        p(class='site-description__item-text') Изучите идеи путешественников
        div(class='site-description__item-number') 2
      li(class='site-description__item site-description__item--three')
        p(class='site-description__item-text') Находите тех, кто&nbsp;похож на вас
        div(class='site-description__item-number') 3
      li(class='site-description__item site-description__item--four')
        p(class='site-description__item-text') Путешествуйте вместе!
        div(class='site-description__item-number') 4
