.card-direction {
  position: relative;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  overflow: hidden;
}

.card-direction__picture,
.card-direction__img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.card-direction__body {
  position: relative;
  display: flex;
  margin-top: -10px;
  padding: 23px 20px;

  border-radius: 10px;
  background-color: $white;
}

.card-direction__text {
  width: 75%;
  margin-right: auto;
}

.card-direction__title {
  margin: 2px 0 2px 0;
  padding: 0;

  font: $text-style-21-700;
  line-height: 1;
  color: $dark;
}

.card-direction__description {
  margin: 0;
  padding: 0;

  font: $text-style-16-500;
  line-height: 1.13;
  color: rgba($greyish-brown, 0.3);
}

.card-direction__count {
  position: relative;
  width: 25%;
  padding-left: 15px;

  font: $text-style-16-500;
  line-height: 1.88;
  color: rgba($greyish-brown, 0.3);

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 9px;
    width: 11px;
    height: 11px;

    background: 0 0 / cover no-repeat url("../img/user.svg");
    opacity: 0.3;
  }
}

.card-direction__flag {
  position: absolute;
  top: -12px;
  left: 25px;
  width: 35px;
  height: 24px;
}

@media (min-width: $tablet-width) {
  .card-direction {
    display: flex;
    border-radius: 20px;
  }

  .card-direction__picture {
    order: 1;
    width: 30%;
  }

  .card-direction__body {
    display: block;
    width: 70%;
    margin: 0;
    padding: 25px 30px 15px 30px;

    border-radius: 0;
  }

  .card-direction__text {
    width: auto;
    margin-right: 0;
  }

  .card-direction__title {
    margin: 2px 0 2px 0;

    font: $text-style-24-700;
  }

  .card-direction__description {
    font: $text-style-20-500;
    line-height: 0.88;
  }

  .card-direction__count {
    position: relative;
    width: auto;
    margin: 20px 0 0 0;
    padding-left: 25px;

    font: $text-style-20-500;
    line-height: 1.5;

    &::before {
      left: 0;
      top: 9px;
      width: 21px;
      height: 20px;
    }
  }

  .card-direction__flag {
    top: 16px;
    left: auto;
    right: -36px;
    width: 71px;
    height: 47px;
  }
}
