$default-font: "Open Sans", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1150px;
$only-mobile-width: 767px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$black: #000000;
$white: #ffffff;
$blue--seafoam: #63d1bb;
$blue--downy: #59d5bc;
$blue--powder: #d0f1ea;
$aqua-marine: #56c3b2;
$puerto-rico: #46c1ae;
$grey--white: #f9f9f9;
$grey--light: #ececec;
$grey--medium: #c6c6c6;
$grey--easy: #c7c7c7;
$grey--dark: #444444;
$brilliant-green-cyan: #62d1ba;
$pink--light: #f1f1f1;
$ms-outline-color: #212121;

$default-text-color: $grey--dark;
$title-text-color: $black;
$inverse-text-color: $white;

$default-bg-color: $white;
