section(class='site-about')
  div(class='site-about__container container')
    h2(class='site-about__title') О сервисе
    p(class='site-about__slogan').
      Любое путешествие веселее
      с&nbsp;попутчиками, которые на одной волне с тобой!
      Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
    p(class='site-about__advice').
      А если найдете кого-то близкого по духу — скорее
      зовите в совместный трип!
    a(class='site-about__button' href='about.html') Подробнее
