section(class='address')
  div(class='address__container container')
    h2(class='visually-hidden') Адрес
    address(class='address__address-wrapper')
      div(class='address__badge')
      div(class='address__tag') ул. Большая Конюшенная, 19/8
    a(class='address__button' href='https://www.google.com/maps/dir/Bolshaya+Konyushennaya+St,+Sankt-Peterburg,+191186/Pushkinskaya+Ulitsa,+Sankt-Peterburg/@59.9338386,30.3224009,14z/data=!3m1!4b1!4m13!4m12!1m5!1m1!1s0x4696310fb661d55f:0xd0cc7f055debe430!2m2!1d30.3232983!2d59.938456!1m5!1m1!1s0x469631a5377b981f:0xcf4999fefa695d70!2m2!1d30.3566304!2d59.9291806') Проложить маршрут
