.filter {
  z-index: 10;
  position: relative;
  margin-top: -40px;
  padding: 50px 0 8px 0;

  font: $text-style-16-400;
  line-height: 1.38;
  color: $greyish-brown;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $pale-grey-dark;
}

.filter__container {
  display: flex;
  flex-flow: row wrap;
}

.filter__title {
  order: 1;
  width: 85%;
  margin: 6px auto 0 0;
  padding: 0 0 0 27px;

  font: $text-style-16-700;
  line-height: 1.38;
  color: $dark-blue-grey;
  text-transform: uppercase;

  background: top 6px left 0 / 15px 10px no-repeat url("../img/filter.svg");
}

.filter__collapse {
  order: 2;
  width: 20px;
  height: 20px;
  margin: 6px 3px 0 0;
  padding: 0;

  border: none;
  background: center / 12px 12px no-repeat url("../img/filter-close.svg"),
    transparent;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.filter__continent-list {
  order: 3;
  width: 100%;
  margin: 25px 0 10px 25px;
  padding: 0;

  list-style: none;
}

.filter__continent-item {
  margin-top: 5px;
}

.filter__continent-link {
  display: block;
  margin: 0;
  padding: 0;

  font: $text-style-16-700;
  line-height: 1.38;
  color: $dark-blue-grey;
  text-transform: uppercase;

  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active,
  &--active {
    opacity: 1;
  }
}

.filter__internal {
  order: 4;
  width: 100%;
}

.filter__table {
  width: calc(100% - 50px);
  margin: 10px 25px;
  padding: 0;

  border-collapse: collapse;
  background-color: $white;
}

.filter__table-cell {
  position: relative;
  width: 20%;
  margin: 0;
  padding: 0;
  border: 1px solid $cloudy-blue;
}

.filter__table-link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 11px 0;

  font: $text-style-14-500;
  line-height: 1.29;
  color: $dark-slate-blue;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    padding: 10px 0;

    border: 1px solid $bluey-grey;
  }

  &:active,
  &--active {
    color: $white;

    background-color: $dark-slate-blue;
  }
}

.filter__group-list {
  width: calc(100% - 50px);
  margin: 22px 25px;
  padding: 0;

  list-style: none;
}

.filter__group-item {
  display: none;
}

.filter__countries-list {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 0;

  list-style: none;
}

.filter__countries-link {
  font: $text-style-16-400;
  line-height: 1.38;
  color: $greyish-brown;

  &:hover {
    color: $dark-slate-blue;
  }

  &:active {
    color: rgba($dark-slate-blue, 0.3);
  }
}

.filter__close {
  display: block;
  width: 100%;
  margin: 10px 0 20px 0;
  padding: 5px 20px;

  font: $text-style-16-700;
  line-height: 1.79;
  color: $dark;
  text-transform: uppercase;

  border: none;
  border-radius: 20px;

  background-color: $light-blue-grey;

  cursor: pointer;

  &::before {
    content: "";

    display: inline-block;
    width: 25px;
    height: 12px;

    background: center left 0 / 12px 12px no-repeat url("../img/filter-close.svg"),
      transparent;
  }

  &:hover {
    background-color: $light-blue-grey-four;
  }

  &:active {
    color: rgba($dark, 0.3);
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .filter__title {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media (min-width: $tablet-width) {
  .filter {
    margin-top: -70px;
    padding: 80px 0 30px 0;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .filter__collapse {
    order: 3;
    width: 207px;
    height: 20px;
    margin: 47px 3px 0 0;
    padding: 0 65px 0 0;

    font: $text-style-20-700;
    line-height: 1.2;
    color: $dark-blue-grey;
    text-align: left;
    text-transform: uppercase;

    background: center right 35px / 19px 19px no-repeat url("../img/filter-close.svg"),
      transparent;

    &::before {
      content: attr(data-opened);
    }
  }

  .filter__continent-list {
    order: 2;
    width: 58%;
    display: flex;
    flex-flow: row wrap;
    margin: 37px auto 10px 33px;
    padding: 0;
  }

  .filter__continent-item {
    margin: 10px auto 0 0;
  }

  .filter__continent-link {
    font: $text-style-20-700;
    line-height: 1.2;
  }

  .filter__internal {
    order: 4;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  .filter__table {
    width: 57%;
    margin: 55px auto 20px 10px;
    padding: 0;

    border-collapse: collapse;
    background-color: transparent;
  }

  .filter__table-cell {
    padding-bottom: 40px;

    border: none;
  }

  .filter__table-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 11px 0;

    font: $text-style-60-700;
    line-height: 0.4;
    color: rgba($dark-blue-grey, 0.2);

    &:hover {
      color: rgba($dark-blue-grey, 0.6);

      border: none;
    }

    &:active,
    &--active {
      color: $dark-blue-grey;

      background-color: transparent;
    }
  }

  .filter__group-list {
    width: 30.5%;
    margin: 35px 0 20px 0;
    padding: 0;
  }

  .filter__countries-list {
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
  }

  .filter__countries-link {
    font: $text-style-20-400;
    line-height: 1.5;
  }

  .filter__close {
    display: block;
    width: 100%;
    margin: 10px 0 45px 0;
    padding: 36px 20px;

    font: $text-style-20-700;
    line-height: 1.5;

    &::before {
      width: 43px;
      height: 27px;
      vertical-align: middle;

      background: center left 0 / 19px 19px no-repeat url("../img/filter-close.svg"),
        transparent;
    }
  }
}

@media (min-width: $desktop-width) {
  .filter {
    margin-top: -70px;
    padding: 80px 0 30px 0;

    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .filter__title {
    order: 1;
    width: 325px;
    margin: 47px 0 0 0;
    padding: 0 0 0 63px;

    font: $text-style-20-700;
    line-height: 1.2;
    vertical-align: middle;

    background: top 4px left 20px / 23px 15px no-repeat url("../img/filter.svg");
  }

  .filter__collapse {
    order: 3;
    width: 207px;
    height: 20px;
    margin: 47px 33px 0 0;
    padding: 0 65px 0 0;

    font: $text-style-20-700;
    line-height: 1.2;
    color: $dark-blue-grey;
    text-align: left;
    text-transform: uppercase;

    background: center right 35px / 19px 19px no-repeat url("../img/filter-close.svg"),
      transparent;

    &::before {
      content: attr(data-opened);
    }
  }

  .filter__continent-list {
    order: 2;
    width: 590px;
    margin: 47px auto 10px 20px;
  }

  .filter__continent-item {
    margin: 0 27px 0 0;
  }

  .filter__table {
    display: none;
  }

  .filter__group-list {
    display: flex;
    flex-flow: row wrap;
    width: calc(100% - 65px);
    margin: 55px 0 20px 65px;
  }

  .filter__group-item {
    width: 16.5%;
    display: block;
  }

  .filter__countries-list {
    width: 100%;
    margin: 10px 0 70px 0;
    padding: 0;
  }

  .filter__head-item {
    margin-bottom: 35px;
  }

  .filter__head-link {
    display: block;

    font: $text-style-60-700;
    line-height: 0.4;
    color: $dark-blue-grey;
    text-transform: uppercase;

    &:hover {
      color: rgba($dark-blue-grey, 0.6);
    }

    &:active {
      color: rgba($dark-blue-grey, 0.2);
    }
  }

  .filter__countries-link {
    font: $text-style-20-400;
    line-height: 1.5;
  }
}
