section(class='filter')
  div(class='filter__container container')
    h2(class='filter__title') Фильтрация по странам
    ul(class='filter__continent-list')
      li(class='filter__continent-item')
        a(class='filter__continent-link') Европа
      li(class='filter__continent-item')
        a(class='filter__continent-link') Азия
      li(class='filter__continent-item')
        a(class='filter__continent-link') Америка
      li(class='filter__continent-item')
        a(class='filter__continent-link') Острова
    button(class='filter__collapse' type='button'
        data-closed='Показать все' data-opened='Свернуть' aria-label='Открыть/закрыть меню фильтрации по странам')
    div(class='filter__internal')
      table(class='filter__table')
          -
            const letters = [
              ['a', 'б', 'в', 'г', 'д'],
              ['е', 'ё', 'ж', 'з', 'и'],
              ['й', 'к', 'л', 'м', 'н'],
              ['о', 'п', 'р', 'с', 'т'],
              ['у', 'ф', 'х', 'ц', 'ч'],
              ['ш', 'щ', 'э', 'ю', 'я']
            ];
          for letterRow in letters
            tr(class='filter__table-row')
              for letter in letterRow
                td(class='filter__table-cell')
                  a(class='filter__table-link' href='#')= letter
      ol(class='filter__group-list')
        -
          const groups = [
            {
              head: 'а',
              body: ['Австралия', 'Австрия', 'Азербайджан', 'Албания', 'Алжир', 'Ангола', 'Андорра', 'Антигуа и Барбуда', 'Аргентина', 'Армения', 'Афганистан']
            },
            {
              head: 'б',
              body: ['Багамские Острова', 'Бангладеш', 'Барбадос', 'Бахрейн', 'Белоруссия', 'Белиз', 'Бельгия', 'Бенин', 'Болгария', 'Боливия', 'Босния и Герцеговина', 'Ботсвана', 'Бразилия', 'Бруней', 'Буркина-Фасо', 'Бурунди', 'Бутан']
            },
            {
              head: 'в',
              body: ['Вануату', 'Великобритания', 'Венгрия', 'Венесуэла', 'Восточный Тимор', 'Вьетнам']
            },
            {
              head: 'г',
              body: ['Габон', 'Гаити', 'Гайана', 'Гамбия', 'Гана', 'Гватемала', 'Гвинея', 'Гвинея-Бисау', 'Германия', 'Гондурас', 'Гренада', 'Греция', 'Грузия']
            },
            {
              head: 'д',
              body: ['Дания', 'Джибути', 'Доминика', 'Доминикана']
            },
            {
              head: 'е',
              body: ['Египет']
            },
            {
              head: 'з',
              body: ['Замбия', 'Зимбабве']
            },
            {
              head: 'и',
              body: ['Израиль', 'Индия', 'Индонезия', 'Иордания', 'Ирак', 'Иран', 'Ирландия', 'Исландия', 'Испания', 'Италия']
            },
            {
              head: 'к',
              body: ['Кабо-Верде', 'Казахстан', 'Камбоджа', 'Камерун', 'Канада', 'Катар', 'Кения', 'Кипр', 'Киргизия', 'Кирибати', 'Китай', 'Колумбия', 'Коморы', 'Конго', 'КНДР', 'Республика Корея', 'Коста-Рика', 'Кот-д’Ивуар', 'Куба', 'Кувейт']
            },
            {
              head: 'л',
              body: ['Лаос', 'Латвия', 'Лесото', 'Либерия', 'Ливан', 'Ливия', 'Литва', 'Лихтенштейн', 'Люксембург']
            },
            {
              head: 'м',
              body: ['Маврикий', 'Мавритания', 'Мадагаскар', 'Малави', 'Малайзия', 'Мали', 'Мальдивы', 'Мальта', 'Марокко', 'Маршалловы Острова', 'Мексика', 'Мозамбик', 'Молдавия', 'Монако', 'Монголия', 'Мьянма']
            },
            {
              head: 'н',
              body: ['Намибия', 'Науру', 'Непал', 'Нигер', 'Нигерия', 'Нидерланды', 'Никарагуа', 'Новая Зеландия', 'Норвегия']
            },
            {
              head: 'о',
              body: ['ОАЭ', 'Оман']
            },
            {
              head: 'п',
              body: ['Пакистан', 'Палау', 'Панама', 'Папуа — Новая Гвинея', 'Парагвай', 'Перу', 'Польша', 'Португалия']
            },
            {
              head: 'c',
              body: ['Сальвадор', 'Самоа', 'Сан-Марино', 'Сан-Томе и Принсипи', 'Саудовская Аравия', 'Северная Македония', 'Сейшелы', 'Сенегал', 'Сент-Люсия', 'Сербия', 'Сингапур', 'Сирия', 'Словакия', 'Словения', 'США', 'Сомали', 'Судан', 'Суринам', 'Сьерра-Леоне']
            },
            {
              head: 'т',
              body: ['Таджикистан', 'Таиланд', 'Танзания', 'Того', 'Тонга', 'Тринидад и Тобаго', 'Тувалу', 'Тунис', 'Туркмения', 'Турция']
            },
            {
              head: 'у',
              body: ['Уганда', 'Узбекистан', 'Украина', 'Уругвай']
            },
            {
              head: 'ф',
              body: ['Фиджи', 'Филиппины', 'Финляндия', 'Франция']
            },
            {
              head: 'x',
              body: ['Хорватия']
            },
            {
              head: 'ч',
              body: ['Чад', 'Черногория', 'Чехия', 'Чили']
            },
            {
              head: 'ш',
              body: ['Швейцария', 'Швеция', 'Шри-Ланка']
            },
            {
              head: 'э',
              body: ['Эквадор', 'Эритрея', 'Эсватини', 'Эстония', 'Эфиопия']
            },
            {
              head: 'ю',
              body: ['ЮАР', 'Южный Судан']
            },
            {
              head: 'я',
              body: ['Ямайка', 'Япония']
            }
          ];
        for group in groups
          li(class='filter__group-item')
            ol(class='filter__countries-list' data-letter=`${group.head}`)
              for country in group.body
                li(class='filter__countries-item')
                  a(class='filter__countries-link' href='#')= country
      button(class='filter__close' type='button') Свернуть
